
/* //////////////////////////////////////////////////////Menu */

.hero__menu{
    display: flex;
    width: 1400px;
}

.hero__menu a{
   padding: 5px 8px;
   color: black;
   text-decoration: none;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   margin-bottom: 5px;
   font-size: 25px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #5896c3;
   border: 1px solid white;
   padding: 20px;
}

.img__logo {
color: blue;
margin: 20px 20px;
}


.barre__sup {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   background-color: #439dddc1 ;
   background-image: url("../images/fond_titre.png");

}