.recherche {
  display: flex;
  align-items: center;
  background-color: #00000023;
  border-bottom: 3px solid #00000073;
  padding-left: 5px;
  margin-top: 37px;
  margin-bottom: 37px;
  padding-right: 5px;
  border: 1px solid white;
}

.recherche__input {
  display: flex;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-right: 250px;
}

.recherche__input:focus {
  outline: none;
  background-color: #ffffff65;
}

.recherche__input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.recherche__img {
  display: inline-block;
  vertical-align: top;
  margin: 8px;
}
