* {
  box-sizing: border-box;
  font-family: "Chelsea Market", cursive;
}

html {}

body {
  margin: 0;
  padding: 0;
}

section,
header,
footer {
  min-height: 100vh;
}

.centre {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #ffffffa9;
  padding: 30px 20px;
}

.accueil {

  max-width: 1083px;
  margin: 0  auto 0 0;
  background: linear-gradient(180deg, #d4a026ab 80%, #fff 100%), (180deg, rgba(0, 0, 0, 0) 50%, #965dac 100%);
  padding: 50px 0px;
}

/* 
.un__centre{
    background-color: aquamarine;
}

.deux__centre{
    background-color: rgb(195, 255, 127);
}

.trois__centre{
    background-color: rgb(255, 131, 127);
}

.quatre__centre{
    background-color: rgb(251, 127, 255);
}

.cinq__centre{
    background-color: rgb(127, 197, 255);
}

.six__centre{
    background-color: rgb(153, 255, 127);
} */

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 6rem;
  font-family: "Indie Flower", cursive;
}

h2 {
  font-size: 5rem;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.description__tableau {
  font-size: clamp(0.7rem,2vw,1.4rem);
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////// Section de la Page */

body > div:nth-of-type(1) {
  background: 
       linear-gradient(to top,
      rgba(0, 0, 0, 0) 50%,
      #ac7c5d 100%
    ), linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 80%,
      rgb(255, 255, 255) 100%
    ), linear-gradient(to left,
      transparent 80%,
      rgba(64, 160, 79, 0.459) 100%
    ),
    url("../images/hero_img.png");
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body > div:nth-of-type(2){
background:
    linear-gradient(to top,
      rgba(0, 0, 0, 0) 80%,
      rgb(255, 255, 255) 100%
    ),  linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 80%,
      rgb(255, 255, 255) 100%
    ), url("../images/bibliotheque-de-jeu.avif");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

body>div:nth-of-type(3) {
    background: 
       linear-gradient(to top,
      rgba(0, 0, 0, 0) 80%,
      #ffffff 100%
    ), linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 80%,
      rgb(255, 255, 255) 100%
    ), url("../images/plein-jeu.webp");
}

body>div:nth-of-type(4) {
  background:
    linear-gradient(to top,
      rgba(0, 0, 0, 0) 78%,
      rgb(255, 255, 255) 100%
    );
  background-color: rgb(151, 130, 72);
}

body>div:nth-of-type(5) {
  background-color: rgb(188, 118, 33);
}

body>div:nth-of-type(6) {
  background-color: rgb(43, 41, 46);
}

body>div:nth-of-type(7) {
  background-color: rgba(137, 106, 68, 0.879);
}

figure {
  margin: 0;
  padding: 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////// La division Hero */

.hero>.centre {
  background-color: #5c5ce100;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  line-height: 100px;
}

.hero__titre, .hero__soustitre, .hero__description {
  background: linear-gradient(to left,
      transparent 0%,
      rgba(161, 124, 45, 0.594) 100%
    );
  padding: 20px;
}

.hero__titre {
  color: #ffffff;
  font-size: clamp(4rem, 10vw, 7rem); 
}

.hero__soustitre {
  text-align: left;
  color: #ffffff;
  font-size: clamp(2rem, 8vw, 5rem);
}

.hero__description {
  font-family: "Chelsea Market", cursive;
  color: white;
  font-size: clamp(3px, 6vw, 1.3rem);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////// CHECK-BURGER */

.navigation {
  position: fixed;
  top: 20px;
  right: 20px;
  text-align: right;
}

.navigation__menu {
  transform: translateX(110%);
  transition: transform 0.5s linear;
  background-color: rgba(111, 93, 63, 0.365);
  padding: 10px;
  border-radius: 10px;
}

.navigation__menu a {
  display: block;
  text-decoration: none;
  background-color: rgba(151, 114, 89, 0.505);
  padding: 4px;
  margin: 5px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  border-radius: 14px;
  text-align: center;
}

.navigation__menu a:hover {
  color: rgb(112, 48, 48);
  transform: scale(1.1);
}

#chk-burger:checked~.navigation__menu {
  transform: translateX(0%);
}

#chk-burger {
  display: none;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////// Titre et fond */

/* hi {
  font-size: clamp(1rem,8vw,5rem);
} */

/* /////////////////////////////////////////////////////////////////////////////////////////////////Inscription */

.formulaire__fieldset {
  border-radius: 10px;
  background-color: #b38c32b3;
  margin:80px 20px ;
  border: 2px solid rgba(255, 255, 255, 0.717);
  flex-grow: 1;
  flex-basis: 292px;
  flex-shrink: 0;
  text-align: center;
}

legend {
  display: inline-block;
  text-align: center;
  font-size: 1.3rem;
}

.formulaire__label {
  font-family: "Chelsea Market", cursive;
}

.formulaire__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.submit__div {
    margin: 40px auto 20px auto; 
    text-align: center;
    background-color: transparent;
    padding: 0;
    width: 100%;
    }
.formulaire__submit {
    max-width: 400px;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    background-color: #b38c32;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////Tableau */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(245, 248, 90);
  margin: 30px auto;
}

.titre__tr {
  background-color: rgb(224, 204, 101);
}

tbody tr:nth-of-type(odd) {
  background-color: rgb(218, 196, 77);
}

td,
th {
  border: 2px solid rgb(0, 0, 0);
  font-size: clamp(1rem,2vw,2rem);
  padding: 5px;
}

caption {
  font-size: 3rem;
  padding: 7px;
  border: 1px solid orange;
  background-color: rgb(227, 183, 40);
  border-right: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////Article1 */
/* /////////////////////Conteneur Principal */
.article {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  background-color: rgb(182, 163, 55);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

/* ///////////////////// Element de conteneur de la premiere colonne */
.article__div {
flex-grow: 2 ;
flex-shrink: 0;
flex-basis: 400px;
font-size: clamp(1rem, 3vw, 1.7rem)

}

/* /////////////////////Element de conteneur de la premiere colonneElement de conteneur de la premiere colonne */
.article__figure {
flex-grow: 1 ;
flex-shrink: 0;
flex-basis: 400px;
}

.article__img {
  display: block;
    width: 100%;
}

.article__figcaption {
  background-color: rgb(137, 89, 45);
  padding: 10px;
} 

.article:nth-of-type(odd)  .article__figure {
order: -1;
} 



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Galerie */
.galerie{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.galerie__figure {
   flex-grow: 1 ;
   flex-shrink: 0 ;
   flex-basis: 325px;
   margin: 13px;
   padding: 8px;
}

.galerie__img {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0;
  border-radius: 20px;
  transition: transform 1s;
}

.galerie__img:hover {
  transform: scale(1.2);
}

.galerie__img:active {
  transform: scale(3);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Video */

.video iframe {
    width: 419px;
    height: 237px;
    margin: 30px auto; 
    display: block;
    flex-wrap: wrap; 
    border-radius: 20px;
    transition: transform 2s;
}

.video iframe:hover {
  transform: scale(2);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Pied de Page */

.pied__1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pied__figure {
  margin: 0;
}

.pied__figure img {
  display: block;
  width: 100%;
}

.pied {
max-width: 1400px;
margin: 0 auto;
background-color: #ffffffa9;
padding: 30px 20px;
min-height: 50vh;
}

.pied__section {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  color: #4f4c4c;
  padding: 20px;
  margin-left: -13px;
  min-height: 20vh;
}

figcaption {
  text-align: center;
}

h4 {
  font-size: 25px;
  margin: 0;
}

.h4__image {
  margin-bottom: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
  color: #4f4c4c;
}

li {
  font-size: 1.2rem;
}

.a__Flexbox {
  color: rgb(229, 229, 101);
  text-decoration: none;
}

.pied__2 {
  display: flex;
}

.svgbox__icones__principal {
  display: flex;
  padding: 10px;
  min-height: 20vh;
}

.svgbox__icones {
  display: flex;
  flex-direction: row;
  margin: 8px;
}